<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login Academia</h1>

    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}

    <form action="/autenticar" method="POST">

        <label>Usuário:</label>
        <input type="text" name="usuario">

        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

</body>
</html>